<!-- HEADER RIFIUTI -->
<h2 align = "center" style="color:red;">
  COMUNICATO STAMPA
</h2>

<h2 align = "center" style="color:red;">
  SERVIZIO DI SPAZZAMENTO MECCANIZZATO
</h2>
<div class="content-block inset">
  <div class="content-block-inner">
    <p>Da lunedi 04 settembre c.a. parte, per un mese, il servizio di spazzamento stradale meccanizzato.
    Visto le condizioni igienico sanitarie delle nostre strade che non vengono spazzate regolarmente.
    considerato che l’accumulo di sporcizia e polvere  ai bordi delle strade e le elevate temperatura possono trasformarsi in ricettacolo di insetti e microogranismi dannosi per la salute umana.
    Atteso che l’effetto delle periodiche disinfestazioni effettuate trova piena efficacia in un ambiente piu' pulito possibile.
    Il Sindaco con propria ordinanza ha predisposto il nolo di una spazzatrice meccanica al fine  di garantire il servizio di spazzamento del perimetro urbano.
    Inoltre, nella stessa, e' previsto, il lavaggio di Piazza Regina Margherita, Piazza Europa e Piazza M. Fiore dove la pavimentazione risulta impregnata da residui di alimenti e bevande.
    <br><br>
    Il SINDACO
    <br><br>
    f.to Prof.Fabio Arnaldo Ettore Accardi
    </p>
  </div>
</div>
